[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SimplexRegression"]
	path = SimplexRegression
	url = https://github.com/dudajustino/simplexregression
